.LabeledButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}
.LabeledButton.LabeledButton--small {
  width: 40px;
}
.LabeledButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid #957c48 1px;
  border-radius: 50%;
  box-sizing: border-box;
}
.LabeledButton.LabeledButton--small a {
  width: 40px;
  height: 40px;
}
.LabeledButton img {
  width: 100%;
  max-width: 30px;
  max-height: 30px;
}
.LabeledButton.LabeledButton--small img {
  width: 100%;
  max-width: 20px;
  max-height: 20px;
}
.LabeledButton__label {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 14px;
}
.LabeledButton.LabeledButton--small .LabeledButton__label {
  margin-top: 6px;
  font-size: 11px;
}

@media only screen and (min-width: 1025px) {
  .LabeledButton {
    width: 100px;
  }
  .LabeledButton.LabeledButton--small {
    width: 60px;
  }
  .LabeledButton a {
    width: 100px;
    height: 100px;
  }
  .LabeledButton.LabeledButton--small a {
    width: 60px;
    height: 60px;
  }
  .LabeledButton img {
    max-width: 40px;
    max-height: 40px;
  }
  .LabeledButton.LabeledButton--small img {
    max-width: 28px;
    max-height: 28px;
  }
  .LabeledButton__label {
    margin-top: 12px;
    font-size: 16px;
  }
  .LabeledButton.LabeledButton--small .LabeledButton__label {
    margin-top: 8px;
    font-size: 14px;
  }
}
