.LabeledButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}
.LabeledButton.LabeledButton--small {
  width: 40px;
}
.LabeledButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid #957C48 1px;
  border-radius: 50%;
  box-sizing: border-box;
}
.LabeledButton.LabeledButton--small a {
  width: 40px;
  height: 40px;
}
.LabeledButton img {
  width: 100%;
  max-width: 30px;
  max-height: 30px;
}
.LabeledButton.LabeledButton--small img {
  width: 100%;
  max-width: 20px;
  max-height: 20px;
}
.LabeledButton__label {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 14px;
}
.LabeledButton.LabeledButton--small .LabeledButton__label {
  margin-top: 6px;
  font-size: 11px;
}
