.App {
  text-align: center;
  font-size: 16;
  background-image: url(../images/corner-flourish-tl.svg),
    url(../images/corner-flourish-tr.svg), url(../images/corner-flourish-bl.svg),
    url(../images/corner-flourish-br.svg);
  background-size: 60px 60px, 60px 60px, 60px 60px, 60px 60px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, top right, bottom left, bottom right;
}
.job,
h2 {
  font-family: 'Limelight', sans-serif;
  text-transform: uppercase;
}
h2 {
  margin: 40px 0 10px;
}
h2::before {
  content: '• • • ';
}
h2::after {
  content: ' • • •';
}

.header {
  padding-top: 40px;
}
.header .name {
  font-size: 24px;
}
.header .job {
  font-size: 34px;
  margin-top: 4px;
}
.header .locations {
  margin-top: 6px;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.bio .profileFlourishWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio .flourishWrapper {
  flex: 0 1 60px;
}
.bio .flourishImage {
  width: 100%;
}
.bio .profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #B40E1B 2px;
}
.bio .profileImage {
  max-width: 200px;
  padding: 4px;
  border-radius: 50%;
}
.bio .text {
  margin: 10px 20px 0;
}

.contact p {
  margin: 0 20px 0;
}
.contact .buttonsWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.questions h2 {
  margin-bottom: -8px;
}
.questions .question {
  margin: 20px 20px 0;
  font-weight: 700;
}
.questions .answer {
  margin: 6px 20px 0;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  padding-bottom: 40px;
}
