.App {
  text-align: center;
}
.job, h2 {
  font-family: 'Limelight', sans-serif;
}
.bio .imageWrapper img {
  max-width: 200px;
}
.contactButtonsWrapper {
  display: flex;
  justify-content: space-evenly;
}
.linkButtonsWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 40px;
}
