.CardScroll {
  overflow-y: hidden;
}
.CardScroll__inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  margin-bottom: -20px;
}
.CardScroll__inner::-webkit-scrollbar {
  display: none;
}
.CardScroll__inner > * {
  flex: 0 0 auto;
  margin-right: 20px;
}
.CardScroll__leadingSpacer {
  width: 20px;
  margin-right: 0;
}
.CardScroll__trailingSpacer {
  width: 20px;
  margin-left: -20px;
  margin-right: 0;
}
