.PriceCard {
  width: 124px;
  border: 1px solid #957C48;
  text-align: center;
}
.PriceCard__service {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  font-size: 14px;
}
.PriceCard__price {
  font-size: 32px;
  color: #B40E1B;
}
.PriceCard__price span {
  font-size: 24px;
}
.PriceCard__time {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  font-size: 14px;
}

@media only screen and (min-width: 1025px) {
  .PriceCard {
    width: 140px;
  }
  .PriceCard__service {
    height: 70px;
    font-size: 18px;
  }
  .PriceCard__price {
    font-size: 40px;
  }
  .PriceCard__price span {
    font-size: 28px;
  }
  .PriceCard__time {
    height: 70px;
    font-size: 18px;
  }
}