.ReviewCard {
  width: 300px;
  border: 1px solid grey;
  text-align: left;
}
.ReviewCard__header {
  display: flex;
}
.ReviewCard__image {
  width: 70px;
  height: 70px;
  margin: 10px;
}
.ReviewCard__image img {
  width: 100%;
  border-radius: 50%;
}
.ReviewCard__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px 10px 0;
}
.ReviewCard__title h3 {
  margin: 0;
}
.ReviewCard__title p {
  margin: 0;
}
.ReviewCard__quote {
  margin: 0 10px 10px;
}